CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

Thumbs.db
ehthumbs.db

.vscode/

.vs/
*.vcxproj
*.vcxproj.user
*.user
*.suo
*.sln
*.userosscache
*.sln.docstates

build/
Debug/
Release/
x64/
x86/
*/Debug/
*/Release/

*.o
*.obj

*.exe
*.out

*/debug/
*/release/
*/bin/
*/lib/
.idea/
*.log
*.bak
*.swp
*.swo

venv
cmake-build-debug/
cmake-build-release/